/********* General *********/
:root {
  font-family: Monda, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color:#90BDEA;
  --second-color:#529EEB;
  --third-color:#387FC7;
}
body, .banner-figcaption, .header-logos, #introduction, #skills, #techs, #projects, #contact, .techs-content, .projects-cards, .card-title, .modal-overlay, .modal-container, .modal-button, .repo-link, .contact-elements, .copy-mail, .mailto, .footer-content, .ml-title, .ml-text{
  display: flex;
}
body, .banner-figcaption, #introduction, #skills, #techs, #projects, #contact, .modal-container, .contact-elements{
  flex-direction: column;
}
body {
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  min-width: 320px;
  max-width: 1440px;
}
#root{
  width: 100%;
}
.app{
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}
a {
  color: black;
  text-decoration: none;
}
#projects, #skills, footer{
  background-color: var(--second-color);
}
h2{
  margin-top: 0;
  font-size: 2.442em;
}

/********* Navbar *********/
.navbar{
  background-color: white;
}
.navbar ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1%;
 
}
.navbar a:hover{
  padding-bottom: 2px;
  border-bottom: 2px solid var(--third-color);
}
.navbar li{
  font-size: 1em;
  text-transform: uppercase;
  height: 35px;
  box-sizing: border-box;
}
.burger-icon-button, .cross-icon-open-menu-button{
  display: none;
}
  
  /********* Banner ******/
.banner-container {
    min-height: 450px;
    padding-top: 3%;
    width: 100%;
    position: relative;
}
.banner-figure {
    width: 94%;
    margin: 0% 3% 0% 3%;
}
.banner-container .banner-photo{
    width: 100%;
    max-height: 368px;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}
.banner-figcaption{
  position: absolute;
  max-height: 76%;
  width: 78%;
  padding: 3%;
  top: 0;
  left: 0;
  transform: translate(10%, 30%);
  text-align: center;
}
h1{
  font-size: 3.2em;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}
.header-logos{
  justify-content: center;
  gap: 5%;
}
/********* Section présentation *********/
#introduction {
  padding: 4%;
}

#introduction figure {
  margin: 0 0 2% 0;
}

#introduction img {
  max-width: 192px;
  height: auto;
  border-radius: 15px;
}

#introduction .content {
  display: flex;
}

#introduction h2 {
  display: flex;
  justify-content: center;
}

#introduction article {
  max-width: 960px; 
}
.introduction-text{
  padding-left: 6.56%;
  padding-right: 3.56%;
}
/********* Sections  *********/
#skills, #techs, #projects, #contact {
  align-items: center;
  padding: 4%;
}
/********* Section Compétences *********/
.skills{
  width: 88%;
}
/********* Section Technologies *********/
.techs-content {
  gap: 3%;
  flex-wrap: wrap;
  justify-content: center;
}
.techs-content article p{
  display: flex;
  justify-content: center;
}
/********* Sections Projets *********/
.card-wrapper{
  width: 295px;
  height: 295px;
  margin: 2%;
}
.projects-cards{
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
  cursor: pointer;
}
.card-image{
  width: 295px;
  height: 195px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card{
  margin: 0;
  background-color: white;
  border-radius: 15px;
}
.card-title {
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 64px;
}
.modal-overlay {
  position: fixed; /* Permet de superposer la modale */
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 1000; /* Assure que la modale est au-dessus du reste */
}
.modal-container{
  background-color: white;
  border-radius: 12px;
  max-width: 295px;
  max-height: 330px;
}
.modal-button{
  align-self: flex-end;
  width: 25px;
  margin: 2%;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.project-description{
  padding-left: 7%;
  padding-right: 7%;
  font-size: small;
}
.repo-link{
  justify-content: center;
}

/********* Sections Contact *********/

.contact-elements {
  font-size: 1.5em;
  min-width: 397px;
}

.copy-mail, .mailto {
  justify-content: center;
  padding: 3%;
  background-color: var(--second-color);
  border-radius: 6px;
  margin-bottom: 5%;
}

.mailto-link {
text-decoration: underline;
}

.copy-mail-button{
  margin-left: 4%;
}
.copy-icon-mobile{
  display: none;
}
.copy-feedback {
  margin-left: 8px;
  color: green;
  font-weight: bold;
  font-size: 0.9em;
}
/********* Footer *********/
.footer-content {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 9%;
  padding: 4%;
  margin-bottom: 0;
  margin-top: 0;
}

/********* Page mentions légales *********/
.ml-header, .ml-subtitles{
  margin-left: 4%;
}
.ml-header{
  padding-top: 2%;
}
.ml-title{
  justify-content: center;
}
.ml-subtitles {
  font-size: xx-large;
}
.ml-text{
  flex-wrap: wrap;
  margin-left: 6%;
}
/********* Media Queries *********/
@media screen and (min-width:320px) and (max-width: 1024px){

  .responsive-menu{
    display: flex;
    justify-content: flex-end;
  }
  .navbar ul {
    flex-direction: column;
    position: absolute;
    top: 1.9%; /* Place le menu sous la navbar */
    padding-left: 3%;
    width: 170px;
    border-radius: 0px 0px 5px 5px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-10px); /* Effet de glissement vers le bas */
    opacity: 0;
    visibility: hidden;
  }
  .navbar ul.open-navbar {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  .burger-icon-button{
    display: flex;
    background-color: transparent;
    border: none;
  }
  .burger-icon{
    max-width: 32px;
  }
  .cross-icon-open-menu{
    display: flex;
    justify-self: end;
    padding: 4%;
    max-width: 32px;
  }
}
@media screen and (min-width:767px) and (max-width: 1024px){
  .banner-container{
    min-height: 0;
  }
  h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 1.9em;
  }
}
@media screen and (min-width:320px) and (max-width: 766px){
  .banner-container{
    min-height: 0;
  }
  h1{
    font-size: large;
  }
  h2, .ml-subtitles{
    font-size: large;
  }
  p{
    font-size: smaller;
  }
  #introduction .content{
    flex-direction: column;
    align-items: center;
  }
  #introduction img{
    max-width: 106px;
  }
  h3{
    font-size: medium;
  }
  .contact-elements{
    min-width: 319px;
    align-items: center;
  }
  .copy-mail{
    align-items: center;
  }
  .copy-mail, .mailto{
    max-width: 245px;
    font-size: medium;
  }
  .copy-icon-mobile{
    display: flex;
  }
  .copy-icon{
    display: none;
  }
  .ml-header, .ml-title{
    margin-bottom: 5%;
  }
}